params {
    fastq_chunk_size            = 3000000
    bam_chunk_size              = 3000000
}


profiles {

    low_resources {

        params {
            fastq_chunk_size            = 3000000
            bam_chunk_size              = 3000000
        }

        process {

            withName: 'CURIOSEEKER_READ1_DB' {
                memory = 36
                cpus = 8

                //queue = 'dev'
                //clusterOptions = '--constraint m5a2xlarge'
            }

            withName: 'CURIOSEEKER_READ2_DB' {
                memory = 36
                cpus = 8

                //queue = 'dev'
                //clusterOptions = '--constraint m5a2xlarge'
            }

            withName: 'CURIOSEEKER_TAGBAM' {
                memory = 36
                cpus = 8

                //queue = 'dev'
                //clusterOptions = '--constraint m5a2xlarge'
            }

            withName: 'CURIOSEEKER_FILTERREADS' {
                memory = 36
                cpus = 8

                //queue = 'dev'
                //clusterOptions = '--constraint m5a2xlarge'
            }

            withName: 'CURIOSEEKER_GENBARCODES' {
                memory = 36
                cpus = 8

                //queue = 'dev'
                //clusterOptions = '--constraint m5a2xlarge'
            }

            withName: 'CURIOSEEKER_GENBARCODEFASTA' {
                memory = 36
                cpus = 8

                //queue = 'dev'
                //clusterOptions = '--constraint m5a2xlarge'
            }

            withName: 'CURIOSEEKER_CALCULATETOPBB' {
                memory = 36
                cpus = 8

                //queue = 'dev'
                //clusterOptions = '--constraint m5a2xlarge'
            }

            withName: 'CURIOSEEKER_BARCODEMATCHING' {
                memory = 36
                cpus = 8

                //queue = 'dev'
                //clusterOptions = '--constraint m5a2xlarge'
            }

            withName: 'CURIOSEEKER_UMITOOLSCOUNTSX' {
                memory = 36
                cpus = 8

                //queue = 'dev'
                //clusterOptions = '--constraint m5a2xlarge'
            }

            withName: 'CURIOSEEKER_GENGENESDF' {
                memory = 36
                cpus = 8

                //queue = 'dev'
                //clusterOptions = '--constraint m5a2xlarge'
            }

            withName: 'CURIOSEEKER_GENREAD2DB' {
                memory = 36
                cpus = 8

                //queue = 'dev'
                //clusterOptions = '--constraint m5a2xlarge'
            }

            withName: 'STAR_ALIGN' {
                memory = 36
                cpus = 8

                //queue = 'dev'
                //clusterOptions = '--constraint m5a2xlarge'
            }
        }
    }

    medium_resources {

        params {
            fastq_chunk_size            = 5000000
            bam_chunk_size              = 5000000
        }

        process {
            withName: 'CURIOSEEKER_READ1_DB' {
               memory = 256
               cpus = 32

                //queue = 'memory-low'
                //clusterOptions = '--constraint r6i8xlarge'
            }

            withName: 'CURIOSEEKER_READ2_DB' {
               memory = 256
               cpus = 32

               //queue = 'memory-low'
               //clusterOptions = '--constraint r6i8xlarge'
            }

            withName: 'CURIOSEEKER_TAGBAM' {
               memory = 256
               cpus = 32

                //queue = 'memory-low'
                //clusterOptions = '--constraint r6i8xlarge'
            }


            withName: 'CURIOSEEKER_GENBARCODES' {
               memory = 256
               cpus = 32

                //queue = 'memory-low'
                //clusterOptions = '--constraint r6i8xlarge'
            }

            withName: 'CURIOSEEKER_GENBARCODEFASTA' {
               memory = 256
               cpus = 32

                //queue = 'memory-low'
                //clusterOptions = '--constraint r6i8xlarge'
            }

            withName: 'CURIOSEEKER_CALCULATETOPBB' {
               memory = 256
               cpus = 32

                //queue = 'memory-low'
                //clusterOptions = '--constraint r6i8xlarge'
            }

            withName: 'CURIOSEEKER_BARCODEMATCHING' {
               memory = 256
               cpus = 32

                //queue = 'memory-low'
                //clusterOptions = '--constraint r6i8xlarge'
            }

            withName: 'CURIOSEEKER_UMITOOLSCOUNTSX' {
               memory = 256
               cpus = 32

                //queue = 'memory-low'
                //clusterOptions = '--constraint r6i8xlarge'
            }

            withName: 'CURIOSEEKER_GENGENESDF' {
               memory = 256
               cpus = 32

                //queue = 'memory-low'
                //clusterOptions = '--constraint r6i8xlarge'
            }

            withName: 'STAR_ALIGN' {
               memory = 256
               cpus = 32

                //queue = 'memory-low'
                //clusterOptions = '--constraint r6i8xlarge'
            }
        }

        }
    }

    high_resources {
        process {
            withName: 'CURIOSEEKER_READ1_DB' {
               memory = 256
               cpus = 32

                //queue = 'memory-low'
                //clusterOptions = '--constraint r6i8xlarge'
            }

            withName: 'CURIOSEEKER_READ2_DB' {
               memory = 256
               cpus = 32

                //queue = 'memory-low'
                //clusterOptions = '--constraint r6i8xlarge'
            }

            withName: 'CURIOSEEKER_TAGBAM' {
               memory = 256
               cpus = 32

                //queue = 'memory-low'
                //clusterOptions = '--constraint r6i8xlarge'
            }


            withName: 'CURIOSEEKER_GENBARCODES' {
               memory = 256
               cpus = 32

                //queue = 'memory-low'
                //clusterOptions = '--constraint r6i8xlarge'
            }

            withName: 'CURIOSEEKER_GENBARCODEFASTA' {
               memory = 256
                cpus = 32

                //queue = 'memory-low'
                //clusterOptions = '--constraint r6i8xlarge'
            }

            withName: 'CURIOSEEKER_CALCULATETOPBB' {
               memory = 256
                cpus = 32

                //queue = 'memory-low'
                //clusterOptions = '--constraint r6i8xlarge'
            }

            withName: 'CURIOSEEKER_BARCODEMATCHING' {
               memory = 256
                cpus = 32

                //queue = 'memory-low'
                //clusterOptions = '--constraint r6i8xlarge'
            }

            withName: 'CURIOSEEKER_UMITOOLSCOUNTSX' {
               memory = 256
                cpus = 32

                //queue = 'memory-low'
                //clusterOptions = '--constraint r6i8xlarge'
            }

            withName: 'CURIOSEEKER_GENGENESDF' {
               memory = 256
                cpus = 32

                //queue = 'memory-low'
                //clusterOptions = '--constraint r6i8xlarge'
            }

            withName: 'STAR_ALIGN' {
               memory = 256
                cpus = 32

                //queue = 'memory-low'
                //clusterOptions = '--constraint r6i8xlarge'
            }
        }

    }


}
