/*
//omics.m.large	2	8 GiB	$0.1296
//omics.m.xlarge	4	16 GiB	$0.2592
//omics.m.2xlarge	8	32 GiB	$0.5184
//omics.m.4xlarge	16	64 GiB	$1.0368
//omics.m.8xlarge	32	128 GiB	$2.0736
//omics.m.12xlarge	48	192 GiB	$3.1104
//omics.m.16xlarge	64	256 GiB	$4.1472
//omics.m.24xlarge	96	384 GiB	$6.2208
//omics.c.large	2	4 GiB	$0.1148
//omics.c.xlarge	4	8 GiB	$0.2295
//omics.c.2xlarge	8	16 GiB	$0.4590
//omics.c.4xlarge	16	32 GiB	$0.9180
//omics.c.8xlarge	32	64 GiB	$1.8360
//omics.c.12xlarge	48	96 GiB	$2.7540
//omics.c.16xlarge	64	128 GiB	$3.6720
//omics.c.24xlarge	96	192 GiB	$5.5080
//omics.r.large	2	16 GiB	$0.1701
//omics.r.xlarge	4	32 GiB	$0.3402
//omics.r.2xlarge	8	64 GiB	$0.6804
//omics.r.4xlarge	16	128 GiB	$1.3608
//omics.r.8xlarge	32	256 GiB	$2.7216
//omics.r.12xlarge	48	384 GiB	$4.0824
//omics.r.16xlarge	64	512 GiB	$5.4432
//omics.r.24xlarge	96	768 GiB	$8.1648
*/

params.enable_conda = false
params.igenomes_base = "s3://curio-seeker-omics/igenomes"

process {

	withName: 'SEEKER_METADATA_CHECK' {
		conda     = { null }
		container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:curio-seeker-pipeline--2023.12.03-1" }
	}

    // READ1

    withName: 'CURIOSEEKER_GENBARCODES' {
        memory    = 128.GB
        cpus      = 32
		conda     = { null }
        container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:curio-seeker-pipeline--2023.12.03-1" }
    }

    withName: 'CURIOSEEKER_CALCULATETOPBB' {
        memory    = 128.GB
        cpus      = 32
		conda     = { null }
        container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:curio-seeker-pipeline--2023.12.03-1" }
    }

    withName: 'CURIOSEEKER_CALCULATETOPBB_COMBINED' {
        memory    = 128.GB
        cpus      = 32
		conda     = { null }
        container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:curio-seeker-pipeline--2023.12.03-1" }
    }

    withName: 'CURIOSEEKER_READ1_DB' {
        memory    = 128.GB
        cpus      = 32
		conda     = { null }
        container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:curio-seeker-pipeline--2023.12.03-1" }
    }

    withName: 'CURIOSEEKER_GENCELLULARBARCODEFASTA' {
        memory    = 128.GB
        cpus      = 32
		conda     = { null }
        container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:curio-seeker-pipeline--2023.12.03-1" }
    }

    withName: 'CURIOSEEKER_GENMOLECULARBARCODEFASTA' {
        memory    = 128.GB
        cpus      = 32
		conda     = { null }
        container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:curio-seeker-pipeline--2023.12.03-1" }
    }

    withName: 'CURIOSEEKER_BARCODEMATCHING' {
        memory    = 128.GB
        cpus      = 32
		conda     = { null }
        container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:curio-seeker-pipeline--2023.12.03-1" }
    }

    withName: 'CURIOSEEKER_BARCODEMATCHING' {
        memory    = 128.GB
        cpus      = 32
		conda     = { null }
        container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:curio-seeker-pipeline--2023.12.03-1" }
    }

    withName: 'CURIOSEEKER_BARCODEMATCHING_V1_0' {
        memory    = 128.GB
        cpus      = 32
		conda     = { null }
        container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:curio-seeker-pipeline--2023.12.03-1" }
    }

    withName: 'CURIOSEEKER_BARCODEMATCHING_V1_1' {
        memory    = 128.GB
        cpus      = 32
		conda     = { null }
        container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:curio-seeker-pipeline--2023.12.03-1" }
    }

    withName: 'CURIOSEEKER_BARCODEMATCHING_V2_0' {
        memory    = 128.GB
        cpus      = 32
		conda     = { null }
        container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:curio-seeker-pipeline--2023.12.03-1" }
    }

    // READ1 READ2 JOINED
    withName: 'CURIOSEEKER_READ2_DB' {
        memory    = 128.GB
        cpus      = 32
		conda     = { null }
        container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:curio-seeker-pipeline--2023.12.03-1" }
    }

    // READ1 READ2 JOINED
    withName: 'CURIOSEEKER_CALCULATESUMMARYSTATS' {
        memory    = 128.GB
        cpus      = 32
		conda     = { null }
        container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:curio-seeker-pipeline--2023.12.03-1" }
    }

    //omics.m.16xlarge	64	256 GiB	$4.1472
    //omics.r.8xlarge	32	256 GiB	$2.7216

    withName: 'CURIOSEEKER_UMITOOLSCOUNTSX'  {
        memory    = 128.GB
        cpus      = 32
		conda     = { null }
        container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:curio-seeker-pipeline--2023.12.03-1" }
    }

    withName: 'CURIOSEEKER_GEN_GENE_BARCODE_UMI_DB' {
        memory    = 128.GB
        cpus      = 32
		conda     = { null }
        container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:curio-seeker-pipeline--2023.12.03-1" }
    }

    withName: 'CURIOSEEKER_MERGE_READ1_READ2_DB' {
        memory    = 192.GB
        cpus      = 48
		conda     = { null }
        container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:curio-seeker-pipeline--2023.12.03-1" }
    }

    withName: 'CURIOSEEKER_TAGBAM' {
        memory    = 128.GB
        cpus      = 32
		conda     = { null }
        container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:curio-seeker-pipeline--2023.12.03-1" }
    }

    withName: 'CURIOSEEKER_FILTER_UMITOOLSCOUNTSX' {
		conda     = { null }
        container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:curio-seeker-pipeline--2023.12.03-1" }
    }

    // SECONDARY
    withName: 'CURIOSEEKER_RUN_NOTEBOOK_READ1' {
		conda     = { null }
        container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:curio-seeker-pipeline--2023.12.03-1" }
    }

    withName: 'CURIOSEEKER_COMPILE_REPORT' {
		conda     = { null }
        container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:curio-seeker-pipeline--2023.12.03-1" }
    }

    withName: 'CURIOSEEKER_RUN_NOTEBOOK' {
		conda     = { null }
        container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:curio-seeker-pipeline--2023.12.03-1" }
    }

    withName: 'NF:CURIOSEEKER:SECONDARY:FORMATCONVERT' {
		conda     = { null }
        container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:curio-seeker-pipeline--2023.12.03-1" }
    }

    withName: 'NF:CURIOSEEKER:SECONDARY:GENMETRICS' {
		conda     = { null }
        container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:curio-seeker-pipeline--2023.12.03-1" }
    }

    withName: 'NF:CURIOSEEKER:SECONDARY:ANALYSIS' {
		conda     = { null }
        container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:curio-seeker-pipeline--2023.12.03-1" }
    }

    withName: 'NF:CURIOSEEKER:SECONDARY:CREATE_SEURAT' {
		conda     = { null }
        container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:curio-seeker-pipeline--2023.12.03-1" }
    }


}
