docker.enabled         = true
workflow.profile       = 'docker'
conda.enabled          = false
docker.enabled         = true
singularity.enabled    = false
params.enable_conda    = false


process {

	withName: 'SEEKER_METADATA_CHECK' {
		conda     = { null }
		container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:python--3.8.3" }
	}
	//withName: 'SAMPLESHEET_CHECK' {
	//	conda     = { null }
	//	container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:python--3.8.3" }
	//}
	withName: 'PICARD_SPLITSAMBYNUMBEROFREADS' {
		conda     = { null }
		container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:picard--2.27.4--hdfd78af_0" }
	}
	withName: 'SUBREAD_FEATURECOUNTS' {
		conda     = { null }
		container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:subread--2.0.1--hed695b0_0" }
	}
	withName: 'STAR_ALIGN' {
		conda     = { null }
		container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:star--2.6.1d--0" }
	}
	withName: 'BLAST_MAKEBLASTDB' {
		conda     = { null }
		container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:blast--2.12.0--pl5262h3289130_0" }
	}
	withName: 'UMITOOLS_COUNT' {
		conda     = { null }
		container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:umi_tools--1.1.2--py38h4a8c8d9_0" }
	}
	withName: 'SUBREAD_FEATURECOUNTS' {
		conda     = { null }
		container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:subread--2.0.1--hed695b0_0" }
	}
	withName: 'BAMTOOLS_SPLIT' {
		conda     = { null }
		container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:bamtools--2.5.2--hd03093a_0" }
	}
	withName: 'MULTIQC' {
		conda     = { null }
		container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:multiqc--1.11--pyhdfd78af_0" }
	}
	withName: 'STAR_GENOMEGENERATE' {
		conda     = { null }
		container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:mulled-v2-1fa26d1ce03c295fe2fdcf85831a92fbcbd7e8c2--afaaa4c6f5b308b4b6aa2dd8e99e1466b2a6b0cd-0" }
	}
	//withName: 'FASTQC' {
	//	conda     = { null }
	//	container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:fastqc--0.11.9--0" }
	//}
	withName: 'SAMTOOLS_SORT' {
		conda     = { null }
		container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:samtools--1.15.1--h1170115_0" }
	}
	withName: 'SAMTOOLS_MERGE' {
		conda     = { null }
		container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:samtools--1.15.1--h1170115_0" }
	}
	withName: 'SAMTOOLS_INDEX' {
		conda     = { null }
		container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:samtools--1.15.1--h1170115_0" }
	}
	withName: 'UMITOOLS_EXTRACT' {
		conda     = { null }
		container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:umi_tools--1.1.2--py38h4a8c8d9_0" }
	}
	withName: 'UMITOOLS_DEDUP' {
		conda     = { null }
		container = { "481441809747.dkr.ecr.us-east-1.amazonaws.com/curio-seeker-omics:umi_tools--1.1.2--py38h4a8c8d9_0" }
	}
    conda     = { null }

}

